/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}


h2,
h3,
a {
	text-align: center;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
    margin: 0 auto;
    display: block;
}

#title {
    text-align: center;
	color: black;
    font-weight: bolder;
	text-transform: uppercase;
}

ul {
    list-style: none;
}

.contact {
    font-weight: bolder;
}

#left-footer-link {
    float: left;
    font-weight: bold;
    margin: 10px;
    font-size: 1.0em;
}
#right-footer-link {
    float: right;
    font-size: .90em;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;    
}

#right-footer-link a:visited{
     color: black;
}

#right-footer-link a:hover{
     color: #093a58;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: black;
    font-weight: bold;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	display: block;
}



/* ---- Layout Containers ---- */
.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}


/*CREATE GUTTERS */
.col {
  padding-right: 1em;
  padding-left: 1em;    
}


.main-footer {
	background: #F8F8F8;
	padding: 2em 0;
	margin-top: 30px;
    text-align: center;
}

/* CSS from original 320 media query */

    
    .name {
        font-size: 1.75em;        
    }
    
    .main-nav li {
        background: #FBFCFC;
        font-weight: 900;
    }
    .main-nav a {
           padding: 10px 15px;
            text-align: center;
            display: block;
    }
    
    .profile-img {
        max-width: 65%;
    }
    
    .port-img {
        max-width: 95%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .col p {
        text-align: center;     
    }
    
    h4  {
    text-transform: uppercase;
    }
    
    .right-footer-nav li {
        display: none; /* found on MDN */
    }


/* ================================= 
  Media Queries
==================================== */


/* 768 px or wider */
@media (min-width: 768px) {
    
    .main-nav li {
        background: #FFFFFF;
        text-align: center;
    }
    
   .container {
       clear: both;
    }
    
    .main-nav li,
    .name,
    .main-header,
    #intro {
        background-color: #F8F8F8; 
    }

    
    .col {     
        width: 95%;
		margin: auto;
		display: inline-block;
        padding-bottom: 50px;
    }
    
    .left {
        float: left;
        width: 50%;    
    }
    
   .right {
        float: right;
        width: 50%;
     
    }
    
    #title {
        margin-top: 50px;
         margin-bottom: 50px;
    }
    
  
    .main-nav li {
        display: inline-block; /* display side by side */
        list-style: none;
    }
    
    .profile-img {
        max-width: 40%;
        float: right;
        padding-left: 15px;
        margin-top: 5px;
    }
    
    .port-img {
        max-width: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
       
    }
    
    #left-footer-link {
        font-size: .95em;
    }
    
    #right-footer-link {
        display: none;
    }
    
    .right-footer-nav  {
        float: right;
    }
    
    .right-footer-nav li {    
        color: black;
        font-weight: bold;
	    text-transform: uppercase;
        margin: 10px;
        display: inline-block;
        font-size: .95em;  
    }
    
    .right-footer-nav a:visited{
      color: black;
    }
    
 

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
    


}

/* 1024 px or wider */
@media (min-width: 1024px) {
    .container {
        width: 90%;
        max-width: 1150px;
    }
    
    #intro p {
        font-size: 1.2em;
    }
    
    .main-footer p {
        font-size: 1em;
    }
    
    .name {
        float: left;
        margin-left: 50px;
    }
    
     .main-nav  {
        float: right;
        margin-left: 50px;
    }
    
    .row-one {
        display: inline-block;
    }
    
    .row-two {
        
    }
    
     .left,
    .right {
        float: left;
        width: 33%;    
    }

 
    
}